{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "eqeqeq": 2,
    "curly": 2,
    "quotes": [2, "single"],
    "no-unused-vars": 2,
    "no-undef": 2,
    "no-multi-spaces": 2,
    "no-empty": 2,
    "comma-dangle": [2, "never"],
    "semi": [2, "always"],
    "wrap-iife": [2, "inside"],
    "linebreak-style": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "no-spaced-func": 2
  }
}
