.idea
.projectFilesBackup
.DS_Store
node_modules
npm-debug.log

# Ignore all *config.json files except for the sample config.
*config.json
!sample.config.json

# Ignore everything in the data folder except for the README file.
data/*
!data/README.md

# Ignore plugin for testing purposes.
lib/plugins/dummy.js
